
<div class="black shadow flight-block">
    {{#flights}}
    <div class="flight-data" id={{code}}>
        <div class="airline-logo">
            {{#companies}}
            <img src="{{logo}}" width="30" height="30" alt="{{countryId}}">
        </div>
        <div class="airline-name">
            <span> {{name}} </span>
        </div>
        {{/companies}}
        <div class="flight-price">
            <span>Precio final: </span><span>{{currency}}: {{price}}</span>
        </div>
        <div class="flight-tickets">
            {{#adult}}<span>{{adult}} Adulto(s) </span>{{/adult}}
            {{#children}}<span>{{children}} Menor(es) </span>{{/children}}
            {{#infant}}<span>{{infant}} Infante(es)</span>{{/infant}}
            <span>|</span>
        </div>
        {{#outbound}}
        <div class="flight-info">
            <div class="flight-outbound">
                <span>Ida:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="flight-text">Sale: <b>{{dep}}</b> 
                </span> <span class="flight-text">Llega: <b>{{arr}}</b> </span> <span class="flight-text">{{duration}} </span>
                <span class="flight-text">{{scale}} Escala(s)</span>
            </div>
        </div>
        {{/outbound}}
        {{#inbound}}
        <div class="flight-info">
            <div class="flight-outbound">
                <span>Vuelta:</span> 
                <span class="flight-text">Sale: <b>{{dep}}</b> 
                </span> <span class="flight-text">Llega: <b>{{arr}}</b> </span> <span class="flight-text">{{duration}} </span>
                <span class="flight-text">{{scale}} Escala(s)</span>
            </div>
        </div>
        {{/inbound}}
        <div class="flight-buttons">
            <div class="flight-confirm">
                <button type="button" name="confirm" data-flight-no={{code}} class="confirm-button">Seleccionar</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    {{/flights}}
    {{^flights}}

    <div class="flight-data">
        <p class="copyright">No hay vuelos. Puede ajustar los filtros para ampliar la búsqueda.</p>

    </div>
    {{/flights}}
</div>