
<div class="black shadow flight-block">
    {{#flights}}
    <div class="flight-data">
        <div class="airline-logo">
            <img src="{{logo}}" width="30" height="30" alt="{{countryId}}">
        </div>
        <div class="airline-name">
            <span> {{name}} </span>
        </div>
        <div class="flight-price">
            <span>Precio final: </span><span>{{currency}}: {{price}}</span>
        </div>
        <div class="flight-tickets">
            {{#adults}}<span>{{adults}} Adulto(s) </span>{{/adults}}
            {{#children}}<span>{{children}} Menor(es) </span>{{/children}}
            <span>|</span>
        </div>
        <div class="flight-info">
            <div class="flight-outbound">
                <span>Ida:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="flight-info">
            <div class="flight-outbound">
                <span>Vuelta:</span> 
            </div>
            <div class="flight-time" id="flight-time-ret-1">
                <span class="flight-text">Sale: {{}} </span>
                <span class="flight-text">Llega: 20:40</span>
                <span class="flight-text">13h 30m</span>
                <span class="flight-text">Sin Escalas</span>
            </div>
        </div>
        <div class="flight-buttons">
            <div class="flight-confirm">
                <button type="button" name="confirm">Confirmar</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    {{/flights}}
    {{^flights}}

    <div class="flight-data">
        <p class="copyright">No hay vuelos. Puede ajustar los filtros para ampliar la búsqueda.</p>

    </div>
    {{/flights}}
</div>