{{#flightstatus}}
<div class="black shadow flight-block">
    <div class="flight-data-info">
        <span>Precio Final</span><br>
        <div class = "airline-name">
            <span id="tickets"></span><br>
            {{#adult}}<span>Adulto(s): </span><span>{{quantity}}</span>
            <span> - Precio por adulto: </span><span>{{currency}} </span><span>{{price}}</span><br>{{/adult}}
            {{#children}}<span>Niño(s): </span><span>{{quantity}}</span>
            <span> - Precio por niño: </span><span>{{currency}} </span><span>{{price}}</span><br>{{/children}}
            {{#infant}}<span>Infante(s): </span><span>{{quantity}}</span>
            <span> - Precio por infante: </span><span>{{currency}} </span><span>{{price}}</span><br>{{/infant}}
            <span>Impuestos: </span><span>{{currency}} </span><span>{{taxes}}</span><br>
            <span>Cargos: </span><span>{{currency}} </span><span>{{charges}}</span>
        </div>
        <div class = "flight-price">
            <span>Total: </span><span>{{currency}} </span><span>{{total}}</span>
        </div>
        <br><br>
        <div class="flight-buttons">
            <div class="flight-confirm">
                <button type="button" name="confirm" data-flight-no={{code}} class="finish-button">Seleccionar</button>
            </div>
        </div>
    </div>
</div> 
{{/flightstatus}}

<div class="black shadow flight-block hidden" buttonorder>
    <span> Ordenar por: </span>
        <button type="button" price>Precio</button>
        <button type="button" scale>Escalas</button>
        <button type="button" airline>Aerolinea</button>
        <button type="button" duration>Duracion</button>
 </div>

<div class="black shadow flight-block">
    {{#flights}}
    {{#inbound}}<div class="flight-data" status="inbound" id={{code}}> {{/inbound}}
    {{#outbound}}<div class="flight-data" status="outbound" id={{code}}> {{/outbound}}
        <div class="airline-logo">
            {{#companies}}
            <img src="{{logo}}" width="30" height="30" alt="{{countryId}}">
        </div>
        <div class="airline-name">
            <span> {{name}} </span>
        </div>
        {{/companies}}
        <div class="flight-price">
            <span>Precio sector: </span><span>{{currency}}: {{total}}</span>
        </div>
        <div class="flight-tickets">
            {{#adult}}<span>{{quantity}} Adulto(s) </span>{{/adult}}
            {{#children}}<span>{{quantity}} Menor(es) </span>{{/children}}
            {{#infant}}<span>{{quantity}} Infante(es)</span>{{/infant}}
            <span>|</span>
        </div>
        {{#outbound}}
        <div class="flight-info">
            <div class="flight-outbound">
                <span>Ida:</span>
                <span class="flight-text">Sale: <b>{{deptime}} ({{deptimezone}})</b> 
                </span> <span class="flight-text">Llega: <b>{{arrtime}} ({{arrtimezone}})</b> </span> <span class="flight-text">{{duration}} </span>
                <span class="flight-text">{{scale}} Escala(s)</span>
            </div>
        </div>
        {{/outbound}}
        {{#inbound}}
        <div class="flight-info">
            <div class="flight-outbound">
                <span>Vuelta:</span> 
                <span class="flight-text">Sale: <b>{{deptime}} ({{deptimezone}})</b> 
                </span> <span class="flight-text">Llega: <b>{{arrtime}} ({{arrtimezone}})</b> </span> <span class="flight-text">{{duration}} </span>
                <span class="flight-text">{{scale}} Escala(s)</span>
            </div>
        </div>
        {{/inbound}}
        <div class="flight-buttons">
            <div class="flight-confirm">
                <button type="button" name="confirm" data-flight-no={{code}} class="confirm-button">Seleccionar</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    {{/flights}}
    {{^flights}}

    <div class="flight-data">
        <p class="copyright">No hay vuelos. Puede ajustar los filtros para ampliar la búsqueda.</p>

    </div>
    {{/flights}}
</div>