<div id="searchbox" class="searchbox black shadow minimized">
	
	<div class="col" id="departure">
		<h2>Origen</h2>
		<input type="text" autocomplete-tags="true" placeholder="Ingrese una ciudad de origen" name="origin-flight" data-mapcomplete="all">
            <br>
	        <div class="hide-on-minimized">
	            <label><input type="checkbox" name="tripType" checked="checked" value="close-airport-origin" id="checkbox">Aeropuertos Cercanos</label>
	            <div id="go-dates" data-date-picker="true"><input type="text"></div>
	        </div>
	</div>
	

	<div class="col" id="arrival">
		<h2>Destino</h2>
		<input type="text" autocomplete-tags="true" placeholder="Ingrese una ciudad de destino" name="return-flight" data-mapcomplete="all"><br>
        <div class="hide-on-minimized">
        	<label>
            <input type="checkbox" name="tripType" checked="checked" value="close-airport-origin" id="checkbox">
	            Aeropuertos Cercanos
	        </label>
	        <div id="return-dates" data-date-picker="true"><input type="text"></div>
	    </div>
	</div>
	

	<div class="col hide-on-minimized" id="pax">
		<h2>Pasajes</h2>
		<span>Mayores:</span>
        <select name="adults">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <br>
        <span>Menores:</span>
        <select name="children">
            <option value="0" selected="selected">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <br>
        <span>Clase:</span>
        <select name="class">
            <option value="1" selected="selected">Economica</option>
            <option value="2">Bussiness</option>
            <option value="3">First-Class</option>
        </select>
        
	</div>
	<div class="col hide-on-minimized" id="search-extras">
		<h2>Extras</h2>
		<div id="round-container">
			<label><input type="radio" name="round-trip" value="round" id="round-check" checked="checked">Ida y Vuelta</label>
            <label><input type="radio" name="round-trip" value="one-way" id="round-check">Solo Ida</label>
	        <div id="round-container">
	        	<label>
	            <input type="radio" name="scale" value="with-scale" id="round-check" checked="checked">Con Escala</label>
	            <label>
	            <input type="radio" name="scale" value="no-scale" id="round-check">Sin Escala</label>
	        </div>
        </div>
        
	</div>
	<input type="button" value="Buscar" class="search-button">
</div>
<div id="site-description" class="black searchbox shadow">
	<p>MindTrips es el sitio líder de búsqueda y reserva de vuelos On Line en todo el mundo.</p>
</div>
<div class="clearfix">
</div>