<div id="searchbox" class="searchbox black shadow minimized">
	<div class="row" id="departure">
		<h2>Origen</h2>
		<input type="text">
	</div>
	<div class="row" id="arrival">
		<h2>Destino</h2>
		<input type="text">
	</div>
	<div class="row" id="pax">
		<h2>Pasajes</h2>
	</div>
	<div class="row" id="search-extras">
	</div>
	<input type="button" value="Buscar">
</div>
<div id="site-description" class="black searchbox shadow">
	<p>MindTrips es el sitio líder de búsqueda y reserva de vuelos On Line en todo el mundo.</p>
</div>
<div class="clearfix">
</div>