<div class="payment black">
	<div class="pax">
		<ul id="pax">
			{{#pax}}
			<li> <div>
				<span>{{kind}} en {{class}}</span><br> 
				Nombre:<br>
				<input type="text"></input><br>

				Apellido:<br>
				<input type="text"></input><br>

			</div> </li>
			{{/pax}}
		</ul>

	</div>
	<div class="cards">
		<table>
			<tr>
				<td></td>
				<td>Pagos</td>
				<td>Intereses</td>
				<td>Tarjetas</td>
			</tr>
			<tr>
				<td><input type="radio" name="wat"></input></td>
				<td>Un Pago</td>
				<td>Sin interés</td>
				<td>Visa</td>
			</tr>
			<tr>
				<td><input type="radio" name="wat"></input></td>
				<td>Tres Pagos</td>
				<td>Sin interés</td>
				<td>Visa</td>
			</tr>
			<tr>
				<td><input type="radio" name="wat"></input></td>
				<td>Seis Pagos</td>
				<td>Sin interés</td>
				<td>Visa</td>
			</tr>
		</table>
	</div>
	<div class="confirm">
		<label>
			He leído las condiciones de privacidad del sitio y las acepto
			<input type="checkbox"></input>
		</label>
		<br>
		<input type="button" value="Confirmar Pago"></input>
		
	</div>
	
</div>
<div class="clearfix"></div>