<div id="map_canvas"></div> 
<div class="black" id="flight-data">
	<div id="airline-logo">
		<img src="http://eiffel.itba.edu.ar/hci/service2/images/AR.png" width="30" height="30" alt="AR">
	</div>
	<div id="airline-name">
		<span> Aerolineas Argentinas </span>
	</div>
	<div id="flight-price">
		<span> 10000$ </span>
	</div>
	<div id="flight-tickets">
		<span>1 Adulto </span>
		<span>1 Menor </span>
	</div>
	<div id="flight-confirm">
		<button type="button" name="more">Confirmar</button>
	</div>
	<div id="flight-more">
		<button type="button" name="more">Mas Vuelos</button>
	</div>
	<div id="flight-scales">
		<span>Sin Escalas</span>
	</div>
	<div id="flight-long">
		<span>13h 30m</span>
	</div>
	<div id="flight-time">
		<span>Sale: 7:10 </span>
		<span>Llega: 20:40</span>
	</div>

</div>