<div id="map_canvas"></div> 
<div class="black flight-data">
    <div class="airline-logo">
        <img src="http://eiffel.itba.edu.ar/hci/service2/images/AR.png" width="30" height="30" alt="AR">
    </div>
    <div class="airline-name">
        <span> Aerolineas Argentinas </span>
    </div>
    <div class="flight-price">
        <span>Precio final: </span><span>U$D 10000</span>
    </div>
    <div class="flight-tickets">
        <span>1 Adulto </span>
        <span>1 Menor </span>
        <span>|</span>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Ida:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-1">
            <br><br>
            <input type="radio" name="time-selector" value="round" id="round-check" checked="checked">
            <span>Sale 7:10 </span><span>Llega 20:40</span><br><br>
            <input type="radio" name="time-selector" value="round" id="round-check">
            <span>Sale 8:10 </span><span>Llega 21:40</span>
        </div>
        <div class="flight-time" id="flight-time-1">
            <span class="flight-text">Sale: 7:10 </span>
            <span class="flight-text">Llega: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">Sin Escalas</span>
        </div>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Vuelta:</span> 
        </div>
        <div class="flight-time">
            <span class="flight-text">Sale: 7:10 </span>
            <span class="flight-text">Llega: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">Sin Escalas</span>
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-2">
            <br><br>
            <input type="radio" name="time-selector-2" value="round" id="round-check" checked=" checked">
            <span>Sale 7:10 </span><span>Llega 20:40</span><br><br>
            <input type="radio" name="time-selector-2" value="round" id="round-check">
            <span>Sale 8:10 </span><span>Llega 21:40</span>
        </div>
    </div>
    <div class="flight-buttons">
        <div class="flight-confirm">
            <button type="button" name="more">Confirmar</button>
        </div>
        <div class="flight-more">
            <button type="button" name="more">Mas opciones</button>
        </div>
    </div>
</div>
<div class="black flight-data">
    <div class="airline-logo">
        <img src="http://eiffel.itba.edu.ar/hci/service2/images/AM.png" width="30" height="30" alt="AM">
    </div>
    <div class="airline-name">
        <span> AeroMexico </span>
    </div>
    <div class="flight-price">
        <span>Precio final: </span><span>U$D 10000</span>
    </div>
    <div class="flight-tickets">
        <span>1 Adulto </span>
        <span>1 Menor </span>
        <span>|</span>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Ida:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-1">
            <br><br>
            <input type="radio" name="time-selector" value="round" id="round-check" checked="checked">
            <span>Sale 7:10 </span><span>Llega 20:40</span><br><br>
            <input type="radio" name="time-selector" value="round" id="round-check">
            <span>Sale 8:10 </span><span>Llega 21:40</span>
        </div>
        <div class="flight-time" id="flight-time-1">
            <span class="flight-text">Sale: 7:10 </span>
            <span class="flight-text">Llega: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">Sin Escalas</span>
        </div>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Vuelta:</span> 
        </div>
        <div class="flight-time">
            <span class="flight-text">Sale: 7:10 </span>
            <span class="flight-text">Llega: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">Sin Escalas</span>
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-2">
            <br><br>
            <input type="radio" name="time-selector-2" value="round" id="round-check" checked=" checked">
            <span>Sale 7:10 </span><span>Llega 20:40</span><br><br>
            <input type="radio" name="time-selector-2" value="round" id="round-check">
            <span>Sale 8:10 </span><span>Llega 21:40</span>
        </div>
    </div>
    <div class="flight-buttons">
        <div class="flight-confirm">
            <button type="button" name="more">Confirmar</button>
        </div>
        <div class="flight-more">
            <button type="button" name="more">Mas opciones</button>
        </div>
    </div>
</div>
<div class="black flight-data">
    <div class="airline-logo">
        <img src="http://eiffel.itba.edu.ar/hci/service2/images/AV.png" width="30" height="30" alt="AV">
    </div>
    <div class="airline-name">
        <span> Avianca </span>
    </div>
    <div class="flight-price">
        <span>Precio final: </span><span>U$D 10000</span>
    </div>
    <div class="flight-tickets">
        <span>1 Adulto </span>
        <span>1 Menor </span>
        <span>|</span>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Ida:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-1">
            <br><br>
            <input type="radio" name="time-selector" value="round" id="round-check" checked="checked">
            <span>Sale 7:10 </span><span>Llega 20:40</span><br><br>
            <input type="radio" name="time-selector" value="round" id="round-check">
            <span>Sale 8:10 </span><span>Llega 21:40</span>
        </div>
        <div class="flight-time" id="flight-time-1">
            <span class="flight-text">Sale: 7:10 </span>
            <span class="flight-text">Llega: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">Sin Escalas</span>
        </div>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Vuelta:</span> 
        </div>
        <div class="flight-time">
            <span class="flight-text">Sale: 7:10 </span>
            <span class="flight-text">Llega: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">Sin Escalas</span>
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-2">
            <br><br>
            <input type="radio" name="time-selector-2" value="round" id="round-check" checked=" checked">
            <span>Sale 7:10 </span><span>Llega 20:40</span><br><br>
            <input type="radio" name="time-selector-2" value="round" id="round-check">
            <span>Sale 8:10 </span><span>Llega 21:40</span>
        </div>
    </div>
    <div class="flight-buttons">
        <div class="flight-confirm">
            <button type="button" name="more">Confirmar</button>
        </div>
        <div class="flight-more">
            <button type="button" name="more">Mas opciones</button>
        </div>
    </div>
</div>