body {
	margin: 0 auto;
	padding: 0;
	border: 0px;
	background-color: #fff;
}


.black {
	color: #009BDB;
	background-color: #eaeaea; //rgba(216, 217, 221, 0.9);
}

#header {
	font-weight: bold;
	position: fixed;
	top: 0px;
	height: 35px;
	width: 100%;
	border-bottom: 1px solid;
	border-color: #009BDB;
	overflow: hidden;
}

.main {
	padding-top: 35px;
	padding-bottom: 80px;
}

#footer {
	border-top: 1px solid;
	border-color: #009BDB;
	margin-top: 15px;
	padding: 10px 0 10px 0;
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
}

.footer_column {
	display: block;
	float: left;
	margin-right: 25px;
	overflow: hidden;
}

.wrapper {
	display: block;
	float: none;
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.copyright {
	width: 100%;
	text-align: center;
	color: #a8a9ad;
}

.clearfix {
	display: block;
	float: none;
	clear: both;
}

#breadcrum {
	position: absolute;
	padding-top: 10px;
}

.breadcrum {
	text-decoration: none;
	color: inherit;
	float: none;
}
.breadcrum:before{
	content: " > ";
	color: black;
}

.searchbox{
	width:550px;
	padding-top:5px;
}

#tab-vuelos{
	font-size: 16px;
	width: 40px;
	color: #009BDB;
	padding: 12px 20px;
	border-top: 1px solid;
	border-left: 1px solid;
	background-color: #eaeaea;
	float:left;
}
#tab-hoteles{
	font-size: 16px;
	color: #009BDB;
	padding: 12px 20px;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	background-color: #eaeaea;
	float:left;
}

.tabs{
	width:550px;
	float:left;
}

#search-flights{
	width:550px;
	border: 1px solid;
	border-color: #009BDB;
	overflow: hidden;
	height: auto;
}

#flight-block{
	width:183px;
	float:left;
}

#text-input{
	width: 80%;
	border: 1px solid #009BDB;
	border-radius: 3px;
	font-size: 0.95em;
	outline: none;
	padding: 8px 10px 7px;
	margin: 5px;
	font-size: 10px
}

#checkbox{
	margin:5px;
}
