

html, body {
	margin: 0;
	padding: 0;
	border: 0px;
	background:#F3F3F3 url(back.gif) repeat;
	font-family: arial;
	height:100%;
}

h1, h2, h3 {
	color: #009BDB;
}


.black {
	background-color: #eaeaf7;
	overflow:hidden;
}

#header {
	font-weight: bold;
	position: fixed;
	top: 0px;
	height: 35px;
	width: 100%;
	border-bottom: 1px solid;
	border-color: #009BDB;
	overflow: hidden;
	z-index: 9999999;
	color: #009BDB;
	box-shadow: 0px 5px 5px rgba(0, 155, 219, 0.1);
}


#footer {
	opacity: 0.75;
	background:#F3F3F3 url(back.gif) repeat;
	border: none;
	position: relative;
	margin-top: -51px;
	height: 40px;
	padding-top: 10px;
	width: 100%;
	clear:both;
}

.center {
	display: block;
	float: none;
	width: 960px;
	margin: 0 auto;
	position:relative;
}

.pusher {
	min-height:100%;
    height:100%;
    height:auto !important;
}

#main{
	padding-top: 40px;
	padding-bottom: 60px;
	color: #000;
	z-index: 100;
	float: none;
}

.background{
	position: absolute;
	opacity: 0.15;
	background-position: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}

#logo-watermark {
	background-image: url(/static/img/logo2.png);
}

.copyright {
	width: 100%;
	text-align: center;
	color: #a8a9ad;
}

.clearfix {
	display: block;
	float: none;
	clear: both;
}

#breadcrum {
	position: absolute;
	padding-top: 10px;
}

.breadcrum {
	text-decoration: none;
	color: inherit;
	float: none;
	font-weight: normal;
}
.breadcrum:before{
	content: " > ";
	color: black;
	font-weight: normal;
}

.searchbox{
	width: 100%;
	padding-top:5px;
}

.searchbox div{
	border-radius: 15px;
	padding: 10px;
	margin: 0px;
}

#search-flights{
	border-color: #009BDB;
	height: auto;
	border: none;
	box-shadow: 5px 8px 18px rgba(40, 40, 50, 0.3);
}

.flight-block{
	float: left;
	width: auto;
	margin: 10px auto;
}

input {
	border: 1px solid #009BDB;
	border-radius: 3px;
	outline: none;
	margin-left: 10px;
	font-size: 10px;
}

input[type="text"]{
	padding: 8px 10px 7px;
	margin: 0px 10px 0px 10px;
	width: 85%;

}

#checkbox{
	padding:5px;
}

#round-container{
	font-size: 14px;
}

#round-check{
	margin: 5px;
}


.submit{
	float:bottom;
}

.ui-autocomplete-input{
	border: 1px solid #009BDB;
	border-radius: 3px;
	font-size: 0.95em;
	outline: none;
	padding: 8px 10px 7px;
	margin: 5px;
	font-size: 10px
}

.hasDatepicker{
	border: none;
	width: 100%;
	overflow: hidden;
	font-size: small;
}

.hidden{
	display:none;
}

#map_canvas { 
	height:200px; 
	width:98%;
}

#flight-data{
	width: 96% !important;
	float:left;
	border-radius: 10px;
	margin-top: 10px;
	border: 1px solid;
	border-color: #009BDB;
	padding-top: 7px;
	padding-left: 7px;
	padding-bottom: 3px;
}

#airline-logo{
	float:left;
}

#airline-name{
	float:left;
	font-size: 15px;
	padding-top: 6px;
	margin-left: 10px;
}
#flight-price{
	float:right;
	font-size: 15px;
	padding-top: 6px;
	margin-right: 10px;
}

#flight-time{
	float:left;
	font-size: 15px;
	padding-top: 6px;
	margin-left: 10px;
}
#flight-long{
	float:left;
	font-size: 15px;
	padding-top: 6px;
	margin-left: 10px;
}
#flight-scales{
	float:left;
	font-size: 15px;
	padding-top: 6px;
	margin-left: 10px;
}
#flight-more{
	float:right;
	font-size: 15px;
	padding-top: 5px;
	margin-right: 10px;
}
#flight-confirm{
	float:right;
	font-size: 15px;
	padding-top: 5px;
	margin-right: 10px;
}

#flight-tickets{
	float:right;
	font-size: 15px;
	padding-top: 6px;
	margin-right: 10px;
}

#flight-outbound{
	float:left;
	font-size: 15px;
	padding-top: 6px;
	margin-left: 10px;
}