html, body {
	margin: 0;
	padding: 0;
	border: 0px;
	background:#F3F3F3 url("back.gif") repeat;
	font-family: arial;
	height:100%;
}


.black {
	color: #009BDB;
	background-color: #f0f0f7; //rgba(216, 217, 221, 0.9);
}

#header {
	font-weight: bold;
	position: fixed;
	top: 0px;
	height: 35px;
	width: 100%;
	border-bottom: 1px solid;
	border-color: #009BDB;
	overflow: hidden;
	z-index: 9999999;
}

.main {
	padding-top: 40px;
	padding-bottom: 180px;

}

#footer {
	border-top: 1px solid;
	border-color: #009BDB;
	position: relative;
	margin-top: -151px;
	height: 140px;
	padding-top: 10px;
	width: 100%;
	clear:both;
}

.footer_column {
	display: block;
	float: left;
	margin-right: 25px;
	overflow: hidden;
}

.wrapper {
	display: block;
	float: none;
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	position:relative;
    min-height:100%;
    height:100%;
    height:auto !important;
}

.copyright {
	width: 100%;
	text-align: center;
	color: #a8a9ad;
}

.clearfix {
	display: block;
	float: none;
	clear: both;
}

#breadcrum {
	position: absolute;
	padding-top: 10px;
}

.breadcrum {
	text-decoration: none;
	color: inherit;
	float: none;
	font-weight: normal;
}
.breadcrum:before{
	content: " > ";
	color: black;
	font-weight: normal;
}

.searchbox{
	padding-top:5px;
}

.searchbox div{
	border-radius: 5px;
	padding: 10px;
	margin: 0px;
}

.tabs{
	width:550px;
	float:left;
}

#search-flights{
	border: 1px solid;
	border-color: #009BDB;
	overflow: hidden;
	height: auto;
}

.flight-block{
	width: 31%;
	float: left;
}

.text-input{
	width: 80%;
	border: 1px solid #009BDB;
	border-radius: 3px;
	font-size: 0.95em;
	outline: none;
	padding: 8px 10px 7px;
	margin: 5px;
	font-size: 10px
}

#checkbox{
	margin:5px;
}

#round-container{
	font-size: 14px;
}

#round-check{
	margin: 5px;
}

.adsense{
	float:right;
	border:5px solid #009BDB;
	height: 250px;
	width:250px;
	background: #009BDB;
}

.submit{
	float:bottom;
}

.ui-autocomplete-input{
	width: 80%;
	border: 1px solid #009BDB;
	border-radius: 3px;
	font-size: 0.95em;
	outline: none;
	padding: 8px 10px 7px;
	margin: 5px;
	font-size: 10px
}

.hasDatepicker{
	border: none;
	width: 100%;
	overflow: hidden;
	font-size: small;
}

.hidden{
	display:none;
}