<div id="searchbox" class="searchbox black shadow minimized">
	
	<input type="button" value="Buscar" class="search-button">
	<div class="col departure">
		<h2>Origin</h2>
		<input type="text" autocomplete-tags="true" placeholder="Ingrese una ciudad de origen" name="origin-flight" data-mapcomplete="from">
            <br>
	        <div class="hide-on-minimized">
	            <label><input type="checkbox" name="tripType" checked="checked" value="close-airport-origin" id="checkbox">Nearby Airports</label>
	            <input type="text" id="go-dates" data-date-picker="departure"></input>
	        </div>
	</div>
	

	<div class="col return">
		<h2>Destination</h2>
		<input type="text" autocomplete-tags="true" placeholder="Ingrese una ciudad de destino" name="return-flight" data-mapcomplete="to"><br>
        <div class="hide-on-minimized">
        	<label>
            <input type="checkbox" name="tripType" checked="checked" value="close-airport-origin" id="checkbox">
	            Nearby Airports
	        </label>
	        <input type="text" id="return-dates" data-date-picker="return"></input>
	    </div>
	</div>
	<div class="clearfix"></div>

	<div class="col hide-on-minimized" id="pax">
		<h2>Tickets</h2>
		<span>Adults:</span>
        <select name="adults">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <br>
        <span>Children:</span>
        <select name="children">
            <option value="0" selected="selected">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <br>
        <span>Class:</span>
        <select name="class">
            <option value="1" selected="selected">Economy</option>
            <option value="2">Bussiness</option>
            <option value="3">First-Class</option>
        </select>
        
	</div>
	<div class="col hide-on-minimized" id="search-extras">
		<h2>Extras</h2>
		<div id="round-container">
			<label><input type="radio" name="round-trip" value="round-trip" id="round-check" checked="checked">Round Trip</label>
            <label><input type="radio" name="round-trip" value="one-way" id="round-check">One way</label>
	        <div id="round-container">
	        	<label>
	            <input type="radio" name="scale" value="with-scale" id="round-check" checked="checked">With Stopover</label>
	            <label>
	            <input type="radio" name="scale" value="no-scale" id="round-check">Without Stopver</label>
	        </div>
        </div>
        
	</div>
</div>
<div id="site-description" class="black searchbox shadow">
	<p>Mindtrips is the leading site in flight searching and reservations online.</p>
</div>
<div class="clearfix">
</div>