
<div class=" payment center">

    <div class=" flight-review black shadow">
        <h2>Final flight review:</h2><br>

        Price per Passenger:<br><br>

        Ammount of passengers:<br><br>

        Taxes and charges:<br><br>

        Total PRice:<br><br>

        Airline:<br><br>

        Date of flight:<br><br>

        Flight Number:<br><br>

        Stopover(s):<br><br>

        Departure time:<br><br>

        Arrival Time:<br><br>

        Credit Card:<br><br>

        Contact E-mail:<br><br>

    </div>

    <div class="return">
        <br>
        <input type="button" class="return-button"  value="Volver">
    </div>

</div>
