
<div class=" payment center">

    <div class=" flight-review black shadow">
        <h2>Final voo Análise:</h2><br>

        Preço por passageiro:<br><br>

        Relaçao de passageiros:<br><br>

        Impostos e cargos:<br><br>

        Preço total:<br><br>

        Companhia de aviação:<br><br>

        Data do voo:<br><br>

        Número do Voo:<br><br>

        Passada(s):<br><br>

        Hora de partida:<br><br>

        Hora de chegada:<br><br>

        Cartão de crédito :<br><br>

        E-mail do contato:<br><br>

    </div>

    <div class="return">
        <br>
        <input type="button" class="return-button"  value="Volver">
    </div>

</div>
