<div class="black shadow flight-block">
    <div class="flight-data-info">
        <span>Final Price</span><br>
        <div class = "airline-name">
            <span id="tickets"></span><br>
            <span>Preço por adulto: </span><span id="per-adult">0</span><br>
            <span>Preço a Crianças: </span><span id="per-children">0</span><br>
            <span>Preço a Crianças: </span><span id="per-infant">0</span><br>
            <span>Impostos: </span><span id="taxes">0</span><br>
            <span>Cargos: </span><span id="charges">0</span>
        </div>
        <div class = "flight-price">
            <span>Total: </span><span class="currency"></span><span id="total">0</span>
        </div>
        <br><br>
        <div class="flight-buttons">
            <div class="flight-confirm">
                <button type="button" name="confirm" data-flight-no={{code}} class="finish-button">Selecionar</button>
            </div>
        </div>
    </div>
</div> 