<div class="black flight-data">
    <div class="airline-logo">
        <img src="http://eiffel.itba.edu.ar/hci/service2/images/AR.png" width="30" height="30" alt="AR">
    </div>
    <div class="airline-name">
        <span> Aerolineas Argentinas </span>
    </div>
    <div class="flight-price">
        <span>Final Price: </span><span>U$D 10000</span>
    </div>
    <div class="flight-tickets">
        <span>1 Adult </span>
        <span>1 Child </span>
        <span>|</span>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Departure:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-dep-1">
            <br><br>
            <input type="radio" name="time-selector-1-g" value="round" id="round-check" checked="checked">
            <span>Departs 7:10 </span><span>Arrives 20:40</span><br><br>
            <input type="radio" name="time-selector-1-g" value="round" id="round-check">
            <span>Departs 8:10 </span><span>Arrives 21:40</span>
        </div>
        <div class="flight-time" id="flight-time-dep-1">
            <span class="flight-text">Departs: 7:10 </span>
            <span class="flight-text">Arrives: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">No Stopovers</span>
        </div>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Return:</span> 
        </div>
        <div class="flight-time" id="flight-time-ret-1">
            <span class="flight-text">Departs: 7:10 </span>
            <span class="flight-text">Arrives: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">No Stopovers</span>
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-ret-1">
            <br><br>
            <input type="radio" name="time-selector-1-o" value="round" id="round-check" checked=" checked">
            <span>Departs 7:10 </span><span>Arrives 20:40</span><br><br>
            <input type="radio" name="time-selector-1-o" value="round" id="round-check">
            <span>Departs 8:10 </span><span>Arrives 21:40</span>
        </div>
    </div>
    <div class="flight-buttons">
        <div class="flight-confirm">
            <button type="button" name="confirm">Confirm</button>
        </div>
        <div class="flight-more" id="more1">
            <button type="button" name="more1">More options</button>
        </div>
        <div class="flight-more hidden" id="less1">
            <button type="button" name="less1">Less options</button>
        </div>
    </div>
</div>
<div class="black flight-data">
    <div class="airline-logo">
        <img src="http://eiffel.itba.edu.ar/hci/service2/images/AM.png" width="30" height="30" alt="AM">
    </div>
    <div class="airline-name">
        <span> AeroMexico </span>
    </div>
    <div class="flight-price">
        <span>Final price: </span><span>U$D 10000</span>
    </div>
    <div class="flight-tickets">
        <span>1 Adult </span>
        <span>1 Children </span>
        <span>|</span>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Departure:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-dep-2">
            <br><br>
            <input type="radio" name="time-selector-2-g" value="round" id="round-check" checked="checked">
            <span>Departs 7:10 </span><span>Arrives 20:40</span><br><br>
            <input type="radio" name="time-selector-2-g" value="round" id="round-check">
            <span>Departs 8:10 </span><span>Arrives 21:40</span>
        </div>
        <div class="flight-time" id="flight-time-dep-2">
            <span class="flight-text">Departs: 7:10 </span>
            <span class="flight-text">Arrives: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">No Stopovers</span>
        </div>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Return:</span> 
        </div>
        <div class="flight-time" id="flight-time-ret-2">
            <span class="flight-text">Departs: 7:10 </span>
            <span class="flight-text">Arrives: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">No Stopovers</span>
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-ret-2">
            <br><br>
            <input type="radio" name="time-selector-2-o" value="round" id="round-check" checked=" checked">
            <span>Departs 7:10 </span><span>Arrives 20:40</span><br><br>
            <input type="radio" name="time-selector-2-o" value="round" id="round-check">
            <span>Departs 8:10 </span><span>Arrives 21:40</span>
        </div>
    </div>
    <div class="flight-buttons">
        <div class="flight-confirm">
            <button type="button" name="confirm">Confirm</button>
        </div>
        <div class="flight-more" id="more2">
            <button type="button" name="more1">More options</button>
        </div>
        <div class="flight-more hidden" id="less2">
            <button type="button" name="less1">Less options</button>
        </div>
    </div>
</div>
<div class="black flight-data">
    <div class="airline-logo">
        <img src="http://eiffel.itba.edu.ar/hci/service2/images/AV.png" width="30" height="30" alt="AV">
    </div>
    <div class="airline-name">
        <span> Avianca </span>
    </div>
    <div class="flight-price">
        <span>Final Price: </span><span>U$D 10000</span>
    </div>
    <div class="flight-tickets">
        <span>1 Adulto </span>
        <span>1 Menor </span>
        <span>|</span>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Departure:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-dep-3">
            <br><br>
            <input type="radio" name="time-selector-3-g" value="round" id="round-check" checked="checked">
            <span>Departs 7:10 </span><span>Arrives 20:40</span><br><br>
            <input type="radio" name="time-selector-3-g" value="round" id="round-check">
            <span>Departs 8:10 </span><span>Arrives 21:40</span>
        </div>
        <div class="flight-time" id="flight-time-dep-3">
            <span class="flight-text">Departs: 7:10 </span>
            <span class="flight-text">Arrives: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">No stopovers</span>
        </div>
    </div>
    <div class="flight-info">
        <div class="flight-outbound">
            <span>Return:</span> 
        </div>
        <div class="flight-time" id="flight-time-ret-3">
            <span class="flight-text">Departs: 7:10 </span>
            <span class="flight-text">Arrives: 20:40</span>
            <span class="flight-text">13h 30m</span>
            <span class="flight-text">No stopovers</span>
        </div>
        <div class="flight-time-selector hidden" id="flight-time-selector-ret-3">
            <br><br>
            <input type="radio" name="time-selector-3-o" value="round" id="round-check" checked=" checked">
            <span>Departs 7:10 </span><span>Arrives 20:40</span><br><br>
            <input type="radio" name="time-selector-3-o" value="round" id="round-check">
            <span>Departs 8:10 </span><span>Arrives 21:40</span>
        </div>
    </div>
    <div class="flight-buttons">
        <div class="flight-confirm">
            <button type="button" name="more">Confirm</button>
        </div>
        <div class="flight-more" id="more3">
            <button type="button" name="more1">More options</button>
        </div>
        <div class="flight-more hidden" id="less3">
            <button type="button" name="less1">Less options</button>
        </div>
    </div>
</div>